.contact-form-container{
    display: flex;

}
.upper-button{
    display: flex;
    gap: 24px;
}
.contact-form{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 20px;
}
.input-control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.input-control input{
    height: 40px;
    padding: 0 8px;
}
.input-control textarea{
    padding: 10px 8px;
}
.input-control label{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -11px;
    left: 10px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 600;
}

.contact-img{
    }
.contact-img img{
    max-width: 457px;
    
}